<h3 class="px-2">Enter Student Details</h3>
<div class="flex px-2">
  <mat-form-field appearance="fill" class="w-full">
    <mat-label>Student Name</mat-label>
    <input matInput placeholder="Ex: Kasun Sampath">
  </mat-form-field>
</div>
<div class="flex px-2">
  <mat-form-field appearance="fill" class="w-full">
    <mat-label>Student Address</mat-label>
    <input matInput placeholder="Ex: No 80, Galle Road, Panadura">
  </mat-form-field>
</div>
<div class="flex px-2">
  <mat-form-field appearance="fill" class="w-full">
    <mat-label>Student Contact</mat-label>
    <input matInput placeholder="Ex: 077-3376993">
  </mat-form-field>
</div>
<div class="flex gap-2">
<div class="ml-2 border border-gray-300 w-36 h-36 rounded-md" id="preview">

</div>
  <div class="flex flex-col gap-4">
  <button mat-raised-button>Chose Image</button>
  <button mat-raised-button color="warn">Remove</button>
  </div>
</div>
<button class="m-2" mat-raised-button color="primary">Save Student</button>


